[Unit]
Description=Update the dconf database onboot
Documentation=https://github.com/coreos/rpm-ostree/issues/1944

[Service]
Type=oneshot
ExecStart=/usr/bin/adw-gtk3-update

[Install]
WantedBy=multi-user.target